/* Global Styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
/* Style for header */

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
/* Styles for time blocks */

  .container {
    width: 100%;
  }
  .row {
    white-space: pre-wrap;
    border-top: 1px solid white;;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 10%;
  }

  /* Style for hour */

  .hour {
    color: black;
  }

/* Styles for event descriptions */

  .description{
    white-space: pre-wrap;
    padding-left: 3px;
    padding-right: 1px;
    min-width: 50%;
    padding-top: 5px;
    background-color: transparent;
  }
  .time-block{
    text-align: center;
  }
  
/* Styles for time of day */
  
  .past {
    background-color: #d3d3d3;
  }
  .present {
    background-color: #ff6961;
  }
  .future {
    background-color: #77dd77;
  }
  
/* Styles for buttons */

  .saveBtn {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #06AED5;
    color: white;
    max-height: 100%;
    min-height: 80px;
    display: none;
    border-radius: 10%;
  }
  .editBtn {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #06AED5;
    color: white;
    max-height: 100%;
    min-height: 80px;
    border-radius: 10%;
  }
  .editBtn:hover {
    background-color: white;
    color: black;
    border: 2px dashed #06AED5;
  }
  .saveBtn:hover {
    background-color: white;
    color: black;
    border: 2px dashed #06AED5;
  }