body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    padding-top: 5px;
  }
  .description:hover {
    border: 3px dashed #06AED5;
    cursor: pointer;
  }
  .time-block{
    text-align: center;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
    width: 100%;
  }
  
  .hour {
    border-top: 1px dashed #000000;
    color: #06AED5;
  }
  
  .past {
    background-color: #d3d3d3;
  }
  
  .present {
    background-color: #ff6961;
  }
  
  .future {
    background-color: #77dd77;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #06AED5;
    color: white;
    height: 80px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  .container {
    width: 100%;
  }